.lightbox {
    position: relative;
}

.product-hero {
    width: 100%;
}

.previous {
    left: 7%;
}

.previous:hover {
    left: 8%;
}

.next {
    right: 7%;
}

.next:hover {
    right: 8%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media (min-width:1440px) {
    .arrow, .next, .previous {
        visibility: hidden;
    }
}